<!DOCTYPE html>

<html>

<head>
    <title>Thymeleaf Sandbox</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<p>Listing being sent as SSE (Server-Sent Events)</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Preamble</th>
        <th>mt</th>
        <th>メッセージタイプ</th>
    </tr>
    </thead>
    <tbody id="dataTable">
    <tr th:each="e : ${data}">
        <td th:text="${e.preamble}">...</td>
        <td th:text="${e.mt}">...</td>
        <td th:text="${e.messagetType}">...</td>
    </tr>
    </tbody>
</table>

</body>

</html>