<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">

    <div class="row">
        <div id="title">
            <h1>Common EWS Message Application</h1>
        </div>
    <table id="allItems" class="table table-striped">
        <tbody id ="dataTable">
        <thead>
        <tr>
            <th>Preamble</th>
            <th>mt</th>
            <th>MessageType</th>
        </tr>
        </thead>


        <tr th:each="e : ${data}">
            <td th:text="${e.preamble}"></td>

        </tr>

        </tbody>
    </table>
    </div>
</div>
<script>

    function loadCommonEWS(){
        this.source = null;

        this.start = function(){

        }
        var dataTable = document.getElementById("dataTable");

        var source = new EventSource("/feed");
        source.addEventListener("message", function(event) {
            dataTable.innerHTML = event.data + dataTable.innerHTML;
        });
        this.stop = function (){
            this.source.close();
        }
    }
    dataTable = new loadCommonEWS();


</script>
</body>
</html>